* {
  	border-radius: 0 !important;
}

li {
	margin: 10px 0;
}

pre {
	margin: 0 auto; 
	width: 1000px; 
	height: 500px;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.navbar {
	margin: 0;
	background-color: #C26868;
	border: #C26868;
}

.navbar-nav {
	width: 100%;
	text-align: center;
}

.navbar-nav li {
	float: none;
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 1.5em;
	border-left: 1px solid #4C5364;
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}

.navbar-default .navbar-collapse {
	border-color: #C26868;
}

.navbar-default .navbar-toggle {
	border-color: #4C5364;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #4C5364;
}

#home {
	overflow: auto;
	background-color: #ff4f44;
}

#project-wrapper, #code-wrapper {
	background-color: #eee; 
	overflow: auto; 
}

#project-wrapper h1, #code-wrapper h1 {
	color: #000000;
}

#horde-clicker {
	 max-width: 1100px; 
	 height: 450px; 
	 margin: 0 auto; 
	 text-align: center; 
	 background-color: #ffcccc; 
	 overflow: auto; 
}

#fact-hack {
	max-width: 1100px; 
	height: 450px; 
	margin: 0 auto; 
	text-align: center; 
	background-color: #b2d8b2; 
	overflow: auto;
}

.project-logo {
	margin-bottom: 30px;
}

.project-pic-container {
	float: right;
}

.project-desc {
	margin: 0 auto; 
	padding: 25px; 
	max-width: 1100px; 
	background-color: #FFFFFF; 
}

.project-desc h5, .project-desc ul,
.project-desc p {
	line-height: 2;
	font-weight: bold;
	font-family: courier;
}

#resume-wrapper {
	background-color: #ddd; 
	overflow: auto; 
}

#resume-wrapper h1 {
	color: #000000;
}

#resume-container {
	margin: 0 auto; 
	width: 700px;
}

.resume-part-title {
	font-size: 1.2em; 
	letter-spacing: 0.3em; 
	font-family: impact;
}

.resume-italic-section {
	float: right; 
	font-family: monospace;
}

.resume-desc p, .resume-desc ul {
	font-family: monospace;
}

#class1:hover, #class1-desc p {
	color: #C26868;
}

#class2:hover, #class2-desc p {
	color: #C26868;
}

#class3:hover, #class3-desc p {
	color: #C26868;
}

#class4:hover, #class4-desc p {
	color: #C26868;
}

#class5:hover, #class5-desc p {
	color: #C26868;
}

#class6:hover, #class6-desc p {
	color: #C26868;
}

#class7:hover, #class7-desc p {
	color: #C26868;
}

#class8:hover, #class8-desc p {
	color: #C26868;
}

#class9:hover, #class9-desc p {
	color: #C26868;
}

#class10:hover, #class10-desc p {
	color: #C26868;
}

#class11:hover, #class11-desc p {
	color: #C26868;
}

#class12:hover, #class12-desc p {
	color: #C26868;
}

/* for tables in resume */
.class-x {
	background-color: honeydew;
}

.advanced {
	color: green;
}

.proficient {
	color: #7fbf7f;
}

.intermediate {
	color: yellow;
}

.beginner {
	color: red;
}

.code-example {
	margin: 0 auto; 
	width: 1000px; 
}

.code-example b, .code-example i {
	font-size: 1.1em; 
	letter-spacing: 0.1em;
}

.code-example span {
	float: right;
}

.code-example div {
	background-color: #FFFFFF; 
	padding: 15px; 
	font-family: monospace;
}

h1 {
	text-align: center;
	color: #FFFFFF;
	font-family: impact;
}

hr { 
	background-color: black; 
	height: 1px; 
	border: 0;
	max-width: 1100px;
}

#introduction p {
	font-size: 1.5em;
	line-height: 2;
	color: #FFFFFF;
	font-family: monospace;
}

.jumbotron {
	margin: 0;
	background-color: #4C5364;
}

#jumbotron-header {
	text-align: center;
	color: #FFFFFF;
	font-family: impact;
}

#jumbotron-desc {
	text-align: center;
	color: #FFFFFF;
	font-family: monospace;
}

#intro-wrapper {
	overflow: auto;
	background-color: #C26868;
}

#dynamic-header {
	font-family: impact;
	text-align: center;
	color: #C26868;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 5px;
    text-align: center;
    font-size: 1.2em;
}